*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
  }
  /*   Banner   */
  .banner {
    padding: 230px 0 120px;
    background-image: url(/assets/images/bg__banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 120.97px;

    @media (min-width: 768px) and (max-width: 1024px){
        padding: 257px 0 126px;  
        margin-bottom: 82.22px;
    }
  
    @media (max-width: 767px){
        padding: 106px 0 52px;
        margin-bottom: 49px;
    }
    
    &__container{
        position: relative;
        z-index: 1;
    }
    
    &::after {
        position: absolute;
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 43, 73, 0.8);
        left: 0;
    }
    
    &__title {
        font-family: "Raleway", sans-serif;
        font-size: 64px;
        font-weight: 900;
        line-height: 75px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 31px;
        color: #ffffff;
        
        @media (min-width: 768px) and (max-width: 1024px){
        font-size: 48px;
        line-height: 56px;  
        margin-bottom: 62px;  
  }
  
  @media (max-width: 767px){
    font-size: 36px;
    line-height: 42px;   
    margin-bottom: 33px;
}
}

  &__text {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 82px;   
    color: #ffffff;
    
    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 21px;
        line-height: 21px;  
        margin-bottom: 92px;
    }
    
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 16px;  
        margin-bottom: 51px;
    }
}
&__btn {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    background-color: #ff4343;
    text-transform: uppercase;
    padding: 26px;
    color: #ffffff;
    max-width: 370px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    border: none;
    
    @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 314px;
    }
    
    @media (max-width: 767px) {
        max-width: 280px;
        padding: 16px;
    }
    
    &:hover {
        background-color: #E71414;
    }
    
    &:active {
        background-color: #ff4343;
        box-shadow: 4px 4px 30px 0px #FF4343;
    }
}
}